### Parte 2: Aprendizaje Supervisado - Regresión
Conjunto de datos: "Daegu_Real_Estate_data.csv"

In [2]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

1. Importe la base de datos

In [5]:
import pandas as pd
base_py = pd.read_csv('Daegu_Real_Estate_data.csv', sep=",")
base_py = pd.DataFrame(base_py)
base_py

,SalePrice,YearBuilt,YrSold,MonthSold,Size(sqf),Floor,HallwayType,HeatingType,AptManageType,N_Parkinglot(Ground),...,N_FacilitiesNearBy(Mall),N_FacilitiesNearBy(ETC),N_FacilitiesNearBy(Park),N_SchoolNearBy(Elementary),N_SchoolNearBy(Middle),N_SchoolNearBy(High),N_SchoolNearBy(University),N_FacilitiesInApt,N_FacilitiesNearBy(Total),N_SchoolNearBy(Total)
0,141592,2006,2007,8,814,3,terraced,individual_heating,management_in_trust,111.0,...,1.0,1.0,0.0,3.0,2.0,2.0,2.0,5,6.0,9.0
1,51327,1985,2007,8,587,8,corridor,individual_heating,self_management,80.0,...,1.0,2.0,1.0,2.0,1.0,1.0,0.0,3,12.0,4.0
2,48672,1985,2007,8,587,6,corridor,individual_heating,self_management,80.0,...,1.0,2.0,1.0,2.0,1.0,1.0,0.0,3,12.0,4.0
3,380530,2006,2007,8,2056,8,terraced,individual_heating,management_in_trust,249.0,...,1.0,0.0,0.0,2.0,2.0,1.0,2.0,5,3.0,7.0
4,221238,1993,2007,8,1761,3,mixed,individual_heating,management_in_trust,523.0,...,1.0,5.0,0.0,4.0,3.0,5.0,5.0,4,14.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5886,511504,2007,2017,8,1643,19,terraced,individual_heating,management_in_trust,0.0,...,1.0,0.0,2.0,3.0,3.0,2.0,2.0,10,9.0,10.0
5887,298230,2006,2017,8,903,13,terraced,individual_heating,management_in_trust,123.0,...,1.0,2.0,0.0,4.0,3.0,3.0,1.0,4,8.0,11.0
5888,357522,2007,2017,8,868,20,terraced,individual_heating,management_in_trust,0.0,...,1.0,0.0,2.0,3.0,3.0,2.0,2.0,10,9.0,10.0
5889,312389,1978,2017,8,1327,1,corridor,individual_heating,self_management,87.0,...,1.0,0.0,0.0,3.0,3.0,3.0,2.0,3,7.0,11.0
5890,393805,2007,2017,8,868,13,terraced,individual_heating,management_in_trust,0.0,...,1.0,0.0,2.0,3.0,3.0,2.0,2.0,10,9.0,10.0

In [10]:
%%R
library(readr)
base_r <- read_csv("Daegu_Real_Estate_data2.csv")
base_r <- as.data.frame(base_r)

Rows: 5891 Columns: 30
-- Column specification --------------------------------------------------------
Delimiter: ","
chr  (6): HallwayType, HeatingType, AptManageType, TimeToBusStop, TimeToSubw...
dbl (24): SalePrice, YearBuilt, YrSold, MonthSold, Size(sqf), Floor, N_Parki...

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [15]:
#ver los primeros datos del dataframe en Python
base_py.head()

,SalePrice,YearBuilt,YrSold,MonthSold,Size(sqf),Floor,HallwayType,HeatingType,AptManageType,N_Parkinglot(Ground),...,N_FacilitiesNearBy(Mall),N_FacilitiesNearBy(ETC),N_FacilitiesNearBy(Park),N_SchoolNearBy(Elementary),N_SchoolNearBy(Middle),N_SchoolNearBy(High),N_SchoolNearBy(University),N_FacilitiesInApt,N_FacilitiesNearBy(Total),N_SchoolNearBy(Total)
0,141592,2006,2007,8,814,3,terraced,individual_heating,management_in_trust,111.0,...,1.0,1.0,0.0,3.0,2.0,2.0,2.0,5,6.0,9.0
1,51327,1985,2007,8,587,8,corridor,individual_heating,self_management,80.0,...,1.0,2.0,1.0,2.0,1.0,1.0,0.0,3,12.0,4.0
2,48672,1985,2007,8,587,6,corridor,individual_heating,self_management,80.0,...,1.0,2.0,1.0,2.0,1.0,1.0,0.0,3,12.0,4.0
3,380530,2006,2007,8,2056,8,terraced,individual_heating,management_in_trust,249.0,...,1.0,0.0,0.0,2.0,2.0,1.0,2.0,5,3.0,7.0
4,221238,1993,2007,8,1761,3,mixed,individual_heating,management_in_trust,523.0,...,1.0,5.0,0.0,4.0,3.0,5.0,5.0,4,14.0,17.0

In [11]:
%%R
#ver los primeros datos del dataframe en R
head(base_r)

  SalePrice YearBuilt YrSold MonthSold Size(sqf) Floor HallwayType
1    141592      2006   2007         8       814     3    terraced
2     51327      1985   2007         8       587     8    corridor
3     48672      1985   2007         8       587     6    corridor
4    380530      2006   2007         8      2056     8    terraced
5    221238      1993   2007         8      1761     3       mixed
6     35840      1992   2007         8       355     5    corridor
         HeatingType       AptManageType N_Parkinglot(Ground)
1 individual_heating management_in_trust                  111
2 individual_heating     self_management                   80
3 individual_heating     self_management                   80
4 individual_heating management_in_trust                  249
5 individual_heating management_in_trust                  523
6 individual_heating management_in_trust                  200
  N_Parkinglot(Basement) TimeToBusStop TimeToSubway N_APT N_manager N_elevators
1                    184    5min~10min  10min~15min     3         3           0
2                     76        0~5min   5min~10min     1         2           2
3                     76        0~5min   5min~10min     1         2           2
4                    536        0~5min       0-5min     6         5          11
5                    536        0~5min  15min~20min     8         8          20
6                      0    5min~10min  10min~15min     3         5          10
          SubwayStation N_FacilitiesNearBy(PublicOffice)
1 Kyungbuk_uni_hospital                                2
2                 Daegu                                5
3                 Daegu                                5
4               Sin-nam                                1
5             Myung-duk                                6
6             Myung-duk                                7
  N_FacilitiesNearBy(Hospital) N_FacilitiesNearBy(Dpartmentstore)
1                            1                                  1
2                            1                                  2
3                            1                                  2
4                            1                                  0
5                            2                                  0
6                            1                                  1
  N_FacilitiesNearBy(Mall) N_FacilitiesNearBy(ETC) N_FacilitiesNearBy(Park)
1                        1                       1                        0
2                        1                       2                        1
3                        1                       2                        1
4                        1                       0                        0
5                        1                       5                        0
6                        1                       5                        1
  N_SchoolNearBy(Elementary) N_SchoolNearBy(Middle) N_SchoolNearBy(High)
1                          3                      2                    2
2                          2                      1                    1
3                          2                      1                    1
4                          2                      2                    1
5                          4                      3                    5
6                          4                      3                    5
  N_SchoolNearBy(University) N_FacilitiesInApt N_FacilitiesNearBy(Total)
1                          2                 5                         6
2                          0                 3                        12
3                          0                 3                        12
4                          2                 5                         3
5                          5                 4                        14
6                          5                 3                        16
  N_SchoolNearBy(Total)
1                     9
2                     4
3                     4
4                     7
5                    17
6                    17